extends layout

block meta
	meta(property="og:title" content="RevSpace Works in Progress")
	meta(property="og:description" content=photo.filename)
	meta(property="og:image" content=`${pathPrefix}/thumbnails/${photo.date.date}/${photo.filename}`)

block contents
	.viewImage
		if previousPhoto != null
			a.previous(href=`${pathPrefix}/view/${previousPhoto.date.date}/${previousPhoto.filename}`) ◀

		if nextPhoto != null
			a.next(href=`${pathPrefix}/view/${nextPhoto.date.date}/${nextPhoto.filename}`) ▶

		img.large(src=`${pathPrefix}/photos/${photo.date.date}/${photo.filename}`)
